@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


$theme-blue : #3070B5;
$theme-darkblue: #416FB0;
$theme-skyblue: #F8FBFD;
$theme-gray: #707070;
$theme-white: #FFFFFF;
$theme-red: #EC5A47;
$theme-yellow: #F8D256;
$theme-font: "Hiragino Sans",
              Meiryo,
              sans-serif;

.bukatsu-text-blue{
  color: $theme-blue;
}
.bukatsu-bg-blue{
  background-color: $theme-blue;
}
.bukatsu-text-darkblue{
  color: $theme-darkblue;
}
.bukatsu-bg-darkblue{
  background-color: $theme-darkblue;
}
.bukatsu-text-skyblue{
  color: $theme-skyblue;
}
.bukatsu-bg-skyblue{
  background-color: $theme-skyblue;
}
.bukatsu-text-yellow{
  color: $theme-yellow;
}
.bukatsu-bg-yellow{
  background-color: $theme-yellow;
}
.bukatsu-text-red{
  color: $theme-red;
}
.bukatsu-bg-red{
  background-color: $theme-red;
}
.bukatsu-text-white{
  color: $theme-white;
}
.bukatsu-bg-white{
  background-color: $theme-white;
}
.bukatsu-font{
  font-family: $theme-font;
}

.bukatsu-navigation{
  background-color: $theme-blue;
  border: solid 1px $theme-gray;
  color: $theme-white;
  opacity: 1;
}

.bukatsu-dropdown{
  color: $theme-white;
  transition: 0.2s;
}
.bukatsu-hamburger{
  color: $theme-white;
  transition: 0.2s;
  border-radius: 50%;
  &:hover{
    background-color: $theme-yellow;
  }
  &:focus{
    background-color: $theme-yellow;
  }
}

//登録セクション
.bukatsu-register-button{
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: bold;
  text-align: center;
  label{
    display: block;
    width: 100%;
    margin: 8px auto;
  }
  button{
    -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
          border: 0;
    border-radius: 9999px;
    padding: 0.8rem 3.2rem;
    a{
      text-decoration: none;
      font-weight: bold;
      color: $theme-white;
    }
  }
}

// 特徴セクション
.bukatsu-feature{
  border: 4px solid $theme-darkblue;
  border-radius: 34px;
  background-color: $theme-white;
  color:$theme-blue;
  padding: 30px 15px;
  width: 300px;
  height: 380px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.no-scroll-bar{
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar{
    display: none;
  }
}
.bukatsu-search-button{
  box-sizing: border-box;
  background-color: $theme-blue;
  color:$theme-white;
  width: 340px;
  height: 55px;
  border-radius: 13px;
  padding: 0.8rem;
  transition: 0.2s;
  &:hover{
    padding: 0.7rem;
    border: solid 4px $theme-darkblue;
    background-color: $theme-white;
    color: $theme-blue;
  }
}